@media (min-width: 992px) {
    .task-header {
        display: block;
    }
    .task {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5rem;
        word-wrap: break-word;
        word-break: break-word;
        .task-title {
            flex: 0 0 auto;
            width: 30%;
        }
        .task-creator {
            flex: 0 0 auto;
            width: 120px;
            text-align: end;
        }
        .task-arrow {
            flex: 0 0 auto;
            width: 20px;
        }
        .task-receiver {
            flex: 0 0 auto;
            width: 120px;
        }
        .task-timeline {
            flex: 0 0 auto;
            width: 15%;
            text-align: center;
        }
        .task-status {
            flex: 0 0 auto;
            width: 10%;
        }
        .task-rate {
            flex: 0 0 auto;
            width: 10%;
        }
    }
    .task.item {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5rem;
        word-wrap: break-word;
        word-break: break-word;
        .task-title {
            flex: 0 0 auto;
            width: 30%;
            font-weight: 500;
        }
        .task-creator {
            flex: 0 0 auto;
            width: 120px;
        }
        .task-arrow {
            flex: 0 0 auto;
            width: 25px;
            height: 25px;
            background: url("../assets/icons/arrow_right.svg") no-repeat;
        }
        .task-receiver {
            flex: 0 0 auto;
            width: 120px;
        }
        .task-timeline {
            flex: 0 0 auto;
            width: 15%;
            font-style: italic;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            display: flex;
            align-items: center;
            text-align: right;
            letter-spacing: 0.09em;
            text-align: center;
        }
        .task-status {
            flex: 0 0 auto;
            width: 10%;
            text-align: end;
        }
        .task-rate {
            flex: 0 0 auto;
            width: 10%;
        }
    }
}
@media (max-width: 991px) {
    .task-header {
        display: none!important;
    }
    .task {
        position: relative;
        display: block;
        margin-bottom: 1rem;
        word-wrap: break-word;
        word-break: break-word;
        .task-title {
            margin: 0.5rem 0;
            display: flex;
            margin-bottom: 1rem;
        }
        .task-creator {
            margin: 0.5rem 0;
            display: flex;
            margin-bottom: 1rem;
        }
        .task-receiver {
            margin: 0.5rem 0;
            display: flex;
            margin-bottom: 1rem;
        }
        .task-timeline {
            margin: 0.5rem 0;
            display: flex;
            margin-bottom: 1rem;
        }
        .task-status {
            margin: 0.5rem 0;
            display: flex;
            margin-bottom: 1rem;
        }
        .task-rate {
            margin: 0.5rem 0;
            display: flex;
            margin-bottom: 1rem;
        }
        .task-more {
            position: absolute;
            right: 0%;
            top: 0%;
        }
    }
}