$darkBlue: #2f6bb1;
.space--nowrap {
    white-space: nowrap;
}
.rolated-top {
    transition-duration: 1s;
    transform: rotateZ(180deg);
}
.rolated-bottom {
    transition-duration: 1s;
    transform: rotateZ(0deg);
}
.styleInp {
    width: 100%;
    border: none;
    outline: none;
    color: #2f6bb1;
}
.list {
    width: auto;
    max-height: 100px;
    list-style-type: none;
    overflow-y: auto;
    padding: 5px;
    margin: 0;
}
.list li {
    cursor: pointer;
}
.listItem:hover {
    background-color: #4ddbb0;
}
.list::-webkit-scrollbar {
    display: none;
}
.icon {
    display: none;
}
.icon:hover {
    display: block;
}
.modalNonTop {
    .modal-dialog-scrollable {
        margin-top: 0;
        .big-hight {
            max-height: none;
        }
    }
}
.margin-center-non-left {
    margin: auto;
    margin-left: 0;
}
.margin-center {
    margin: auto;
}
.margin-center-non-right {
    margin: auto;
    margin-right: 0;
}
.noHover {
    pointer-events: none;
}
.btn-outline-active :checked {
    color: #4ddbb0;
    background-color: #4ddbb0;
}
.moreOption:hover {
    border-radius: 5px;
    color: $darkBlue;
    background-color: #4ddbb0;
}
.item {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(98, 173, 241, 0.28);
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    &:hover {
        // transform: scale(1.005);
        box-shadow: 0px 6px 4px rgba(103, 243, 201, 0.63);
    }
    > .item-label {
        display: block;
        width: 3rem;
        height: 100%;
        background: linear-gradient(180deg, #2391f5 0%, #67f3c9 100%);
        border-radius: 1.5rem 0 0 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-width: 3rem 1.5rem;
            border-style: solid;
            border-color: transparent #fff #fff transparent;
            box-sizing: border-box;
        }
    }
    > .more {
        position: absolute;
        right: 0;
    }
}

.avartar-dt {
    width: 43.83px;
    height: 43.83px;
    margin-right: 20px;

}
.ct{
    margin: auto;
}
